*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.heading1{
    padding: 20px;
    background-color:cornflowerblue
}
.header{
    text-align: center;
    background-color: grey;
    padding: 40px;
    color: aliceblue;
}
.navbar-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    text-align: center;
}
.navbar-container a{
    text-decoration: none;
    color: white;
    padding: 14px 20px;
}
.navbar-container a:hover{
    background-color: black;
    color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.leftbar{
    flex: 30%;
    background-color: lightblue;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: lightgray;
    padding: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.fakeimg1{
    display: flex;
    flex-wrap: wrap;
}
.fakeimg1 div{
    flex: 60%;
    max-width: 60%;
}
.footer{
    background-color: grey;
    padding: 40px;
    text-align: center;
    color: white;
}  
  @media screen and (max-width: 600px) {
    .row, .navbar-container {   
      flex-direction: column;
    }
  }